@import "tailwindcss";

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: #000;
    background-color: #fff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@theme {
    --color-primary: #1F2E4E;
    --color-secondary: #EA001E;
    --color-gray: #6E7684;
    --color-icon-dark: #1F2E4E;
}

@layer components {
    .container-lg {
        @apply max-w-[1300px] mx-auto px-6 xl:px-0;
    }

    .container-md {
        @apply max-w-[1100px] mx-auto px-6 xl:px-0;
    }

    .topbar-icon {
        @apply h-8 w-8 rounded-full text-secondary bg-white flex items-center justify-center transition-colors duration-200 hover:bg-secondary hover:text-white cursor-pointer;
    }

    .nav-link {
        @apply text-lg font-normal transition-colors duration-150 hover:text-secondary cursor-pointer;
    }

    .main-container {
        @apply max-w-[900px] mx-auto flex flex-col items-center justify-center gap-6;
    }

    .main-header-1 {
        @apply text-5xl font-medium;
    }

    .main-header-2 {
        @apply text-secondary;
    }

    .main-p {
        @apply text-center text-gray;
    }

    .team-social-icon {
        @apply h-8 w-8 bg-gray-100 rounded-full flex items-center justify-center;
    }
}