@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

:root {
    font-family: var(--font-poppins), system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: #fff;
    background-color: #0D143A;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@theme {
    --font-poppins: "Poppins";
    --color-primary: #0D143A;
    --color-primary-dark: #050714;
    --color-header: #0aacf1;
}

@layer components {
    .container-lg {
        @apply max-w-325 mx-auto px-6 xl:px-0;
    }

    .container-md {
        @apply max-w-275 mx-auto px-2 md:px-6 xl:px-0;
    }

    .nav-link {
        @apply focus:outline-none focus:ring-0 w-full px-5 py-2 rounded-md text-start flex items-center space-x-3;
    }

    .main-right-link {
        @apply px-2 py-1 rounded-md border border-white/50 cursor-pointer;
    }

    .main-header {
        @apply lg:px-8 py-2 flex flex-col;
    }

    .main-card {
        @apply lg:mt-4 mt-3;
    }

    .form-button {
        @apply px-4 py-2 rounded-md text-[13px] font-medium focus:outline-none focus:ring-0 transition-colors duration-500 bg-primary-dark text-white border border-gray-300 shadow-md hover:text-black hover:bg-white cursor-pointer;
    }
}

@layer utilities {
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
}